Flask==1.1.2
Flask-Cors==3.0.10
mecab-python3==1.0.3
PyMySql==1.0.2
python-dotenv==0.17.1
markovify==0.9.0
Flask-SQLAlchemy==2.5.1
flask-marshmallow==0.14.0
marshmallow-sqlalchemy==0.25.0
Flask-Migrate==3.0.0